* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left {
  width: 50%;
  height: 100%;
  background-color: lightblue;
}

.right {
  width: 50%;
  height: 100%;
  background-color: coral;

}